body {
    background-image: url('space3.jpeg');
    font-size: 100%;
    font-family: 'Chicle', cursive;
    letter-spacing: 5px;
    color: white;
    text-transform: uppercase;
    overflow: none;
}

button {
    color: white;
    border: 1px solid white!important;
    border-radius: 50%;
    background-color: transparent;
    height: 80px;
    width: 80px;
    font-size: 1rem;
    text-transform: uppercase;
    font-family: 'Chicle', cursive;
    letter-spacing: 2px;
}

button:focus {
    outline:0;
}

html, body {
     overflow: hidden;
}

h1, h3 {
    height: max-content;
    text-align: center;
    position: absolute;
    bottom: 40%;
    right: 0;
    left: 0;
}

/* h2 {
    text-align: center;
    font-size: 3rem;
    animation: blink 3s linear infinite;
    margin-bottom: 0;
} */

/* @keyframes blink{
    0%{opacity: .5; font-size: 3rem}
    50%{opacity: 1; font-size: 3.5rem}
    100%{opacity: .5; font-size: 3rem}
} */

a {
    color: white;
    text-decoration: none;
    /* padding-left: 1rem; */
}

a:hover {
    color: #009999;
}

.footer:first-of-type {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 3rem;
}

.footer:last-of-type {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 3rem;
}

#level {
    padding-left: 2px;
}

#modal {
    z-index: 3000;
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    background-color: rgba(255,255,255,.3);
    text-align: center;
    visibility: hidden;
}

#modal h4{
    background-color: white;
    margin: 25%;
    color: black;
    font-size: 5rem;
    line-height: 10rem;
}

#modal span {
    margin-top: -3rem;
    margin-left: 10rem;
    position: absolute;
    font-size: 2rem;
    background-color: white;
    border-radius: 50%;
    line-height: 2.5rem;
    height: 40px;
    width: 40px;
    padding-left: 3px;
}

.container {
    height: 550px;
    width: 800px;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(255,255,255,.1);
    overflow: hidden;
}

.asteroid {
    height: 30px;
    width: 30px;
    position: absolute;
}

#spaceship {
    height: 100px;
    position: absolute;
    bottom: 5px;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 1000;
}

#planet {
    height: 150px;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 8rem;
    z-index: 2000;
}

.title {
    font-size: 3rem;
}
