body, button {
    background-image: url('space3.jpeg');
    font-size: 100%;
    font-family: 'Chicle', cursive;
    letter-spacing: 5px;
    color: white;
    text-transform: uppercase;
    overflow: none;
}

html, body {
     overflow: hidden;
}

h1 {
    font-size: 5rem;
    padding-left: 2rem;
    margin-top: 1rem;
}

h2 {
    position: absolute;
    bottom: 0;
    padding: 1rem;
}

h2:first-of-type {
    right: 0;
}

button {
    border: none;
    background-color: transparent;
    letter-spacing: 3px;
    position: absolute;
    right: 0;
    top: 0;
    padding: 2rem;
    z-index: 1000;
}

button:focus {
    outline:0;
}

.container {
    height: 550px;
    width: 800px;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(255,255,255,.1);
    overflow: hidden;
}

.asteroid {
    height: 30px;
    width: 30px;
    position: absolute;
    left: -100px;
}

.left-asteroid {
    animation: move 4s infinite linear;
    animation-direction: forwards;
}

.right-asteroid {
    animation: move 4s infinite linear;
    animation-direction: reverse;
}

.slow-asteroid {
    animation: move 4s infinite linear;
    animation-direction: reverse;
    animation-delay: 2s;
}

.fast-asteroid {
    animation: move 4s infinite linear;
    animation-direction: forwards;
    animation-delay: 2s;
}

#spaceship {
    height: 100px;
    position: absolute;
    bottom: 5px;
    left: 0;
    right: 0;
    margin: auto;
}

@keyframes move {
    100% {
        transform: translate(900px,0);
    }
}
